USE [QLTB]
GO
/****** Object:  Table [dbo].[tblCanBo]    Script Date: 28-02-2026 7:16:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCanBo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
	[NgaySinh] [date] NULL,
	[CCCD] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCapDV]    Script Date: 28-02-2026 7:16:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCapDV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenCapDV] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDonVi]    Script Date: 28-02-2026 7:16:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDonVi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaDV] [nvarchar](10) NULL,
	[TenDV] [nvarchar](100) NULL,
	[CapDV] [int] NULL,
	[DonViChaID] [int] NULL,
	[TrangThai] [int] NULL,
	[NgayTao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHanhDong]    Script Date: 28-02-2026 7:16:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHanhDong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLichSuHeThong]    Script Date: 28-02-2026 7:16:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLichSuHeThong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[HanhDong] [int] NULL,
	[BangTacDong] [nvarchar](100) NULL,
	[BanGhiID] [int] NULL,
	[ThoiDiem] [date] NULL,
	[NoiDungCu] [nvarchar](max) NULL,
	[NoiDungMoi] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLichSuThietBi]    Script Date: 28-02-2026 7:16:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLichSuThietBi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThietBiID] [int] NULL,
	[HanhDongID] [int] NULL,
	[CanBoCuID] [int] NULL,
	[CanBoMoiID] [int] NULL,
	[DonViCuID] [int] NULL,
	[DonViMoiID] [int] NULL,
	[ThoiDiem] [date] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoaiThietBi]    Script Date: 28-02-2026 7:16:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiThietBi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
	[VongDoiNam] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblQuyen]    Script Date: 28-02-2026 7:16:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuyen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](100) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblThietBi]    Script Date: 28-02-2026 7:16:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThietBi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoaiID] [int] NULL,
	[SerialNumber] [nvarchar](100) NULL,
	[CanBoID] [int] NULL,
	[DonViID] [int] NULL,
	[NgayCap] [date] NULL,
	[NgayHetHan] [date] NULL,
	[NgayHetHanVongDoi] [date] NULL,
	[TrangThai] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTrangThai]    Script Date: 28-02-2026 7:16:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTrangThai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TrangThai] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 28-02-2026 7:16:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[DonViID] [int] NULL,
	[CapDonViID] [int] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
insert [tblUser] values ('admin', '8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', null, null, 1)
GO
ALTER TABLE [dbo].[tblDonVi] ADD  DEFAULT ((0)) FOR [DonViChaID]
GO
ALTER TABLE [dbo].[tblLoaiThietBi] ADD  DEFAULT ((5)) FOR [VongDoiNam]
GO
ALTER TABLE [dbo].[tblDonVi]  WITH CHECK ADD FOREIGN KEY([CapDV])
REFERENCES [dbo].[tblCapDV] ([ID])
GO
ALTER TABLE [dbo].[tblDonVi]  WITH CHECK ADD FOREIGN KEY([DonViChaID])
REFERENCES [dbo].[tblDonVi] ([ID])
GO
ALTER TABLE [dbo].[tblDonVi]  WITH CHECK ADD FOREIGN KEY([TrangThai])
REFERENCES [dbo].[tblTrangThai] ([ID])
GO
ALTER TABLE [dbo].[tblLichSuHeThong]  WITH CHECK ADD FOREIGN KEY([HanhDong])
REFERENCES [dbo].[tblHanhDong] ([ID])
GO
ALTER TABLE [dbo].[tblLichSuHeThong]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUser] ([ID])
GO
ALTER TABLE [dbo].[tblLichSuThietBi]  WITH CHECK ADD FOREIGN KEY([CanBoCuID])
REFERENCES [dbo].[tblCanBo] ([ID])
GO
ALTER TABLE [dbo].[tblLichSuThietBi]  WITH CHECK ADD FOREIGN KEY([CanBoMoiID])
REFERENCES [dbo].[tblCanBo] ([ID])
GO
ALTER TABLE [dbo].[tblLichSuThietBi]  WITH CHECK ADD FOREIGN KEY([DonViCuID])
REFERENCES [dbo].[tblDonVi] ([ID])
GO
ALTER TABLE [dbo].[tblLichSuThietBi]  WITH CHECK ADD FOREIGN KEY([DonViMoiID])
REFERENCES [dbo].[tblDonVi] ([ID])
GO
ALTER TABLE [dbo].[tblLichSuThietBi]  WITH CHECK ADD FOREIGN KEY([HanhDongID])
REFERENCES [dbo].[tblHanhDong] ([ID])
GO
ALTER TABLE [dbo].[tblLichSuThietBi]  WITH CHECK ADD FOREIGN KEY([ThietBiID])
REFERENCES [dbo].[tblThietBi] ([ID])
GO
ALTER TABLE [dbo].[tblQuyen]  WITH CHECK ADD FOREIGN KEY([TrangThai])
REFERENCES [dbo].[tblTrangThai] ([ID])
GO
ALTER TABLE [dbo].[tblThietBi]  WITH CHECK ADD FOREIGN KEY([CanBoID])
REFERENCES [dbo].[tblCanBo] ([ID])
GO
ALTER TABLE [dbo].[tblThietBi]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[tblDonVi] ([ID])
GO
ALTER TABLE [dbo].[tblThietBi]  WITH CHECK ADD FOREIGN KEY([LoaiID])
REFERENCES [dbo].[tblLoaiThietBi] ([ID])
GO
ALTER TABLE [dbo].[tblThietBi]  WITH CHECK ADD FOREIGN KEY([TrangThai])
REFERENCES [dbo].[tblTrangThai] ([ID])
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD FOREIGN KEY([CapDonViID])
REFERENCES [dbo].[tblCapDV] ([ID])
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD FOREIGN KEY([DonViID])
REFERENCES [dbo].[tblDonVi] ([ID])
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD FOREIGN KEY([TrangThai])
REFERENCES [dbo].[tblTrangThai] ([ID])
GO
